
<p id="notice"><%= notice %></p>

<h1 id="create-event">Our list of events!</h1>


 

<div class="list-group">
      <% @posts.each do |post| %>
          <h2><%= post.name %></h2>
          <p> <%=post.address %> </p>
          <p><%= post.description %></p>
          <%= link_to 'Show', post %>
          <% if current_user == post.user %>
           <%= link_to 'Edit', edit_post_path(post) %>
           <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      <% end %>


<br>
<%= link_to 'New Post', new_post_path %>
</div>


