<p id="notice"><%= notice %></p>


<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
    <strong>Name:</strong>
    <%= @post.name %>
</p>

<p>
  <strong>User_id:</strong>
  <%= @post.user_id %>
</p>


<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<% if current_user == @post.user %>
 <%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>
 <%= link_to 'Back', posts_path %>

<%= button_to "Rsvp now", rsvp_post_path(@post), class: "btn btn-primary" %>





<p>Address: <%= @post.address %></p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@post.latitude},#{@post.longitude}&markers=#{@post.latitude},#{@post.longitude}&zoom=7&size=640x400&key=AIzaSyCKzKMEhSNgwSXf7WV71pHWgzdpMkPn8W4",
class: 'img-fluid img-rounded', alt: "#{@post} on the map"%>
